@charset "utf-8";
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  line-height: (32/16);
  overflow-x: hidden;
}

h2 {
  font-size: 60px;
  font-weight: 900;
}

h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: (32/24);
}

img {
  width: 100%;
}

.el_leadTxt_l {
  font-size: 20px;
  font-weight: 700;
  line-height: (48/20);
}

.el_leadTxt_s {
  font-size: 18px;
  font-weight: 700;
  line-height: (36/18);
}

.el_capTxt {
  font-size: 24px;
  font-weight: 700;
}

.el_label_red {
  padding: 2px 0;
  color: #fff;
  background: #ff7262;
}

.el_line_wave {
  margin-top: 100px;
}

.ly_main {
  max-width: 1440px;
  margin: 0 auto;
}

.bl_mv {
  max-width: 1440px;
  padding-top: 40px;
}

.bl_area {
  height: 100%;
}

.bl_about {
  position: relative;
  margin: 0 auto;
  padding-top: 160px;
  max-width: 960px;
  &::before {
    content: '';
    position: absolute;
    top: 100px;
    left: -70px;
    width: 48px;
    height: 40px;
    background: url('../img/bg_quo.png') 0 0 no-repeat;
    background-size: contain;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 220px;
    right: -190px;
    width: 447px;
    height: 602px;
    background: url('../img/bg_path.png') 0 0 no-repeat;
    background-size: contain;
    z-index: -1;
  }
  p + p {
    margin-top: 46px;
  }
}

.bl_figma {
  max-width: 960px;
  margin: 0 auto;
  padding: 260px 0 116px;
}

.bl_figma_content {
  display: flex;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -90px;
    left: -40px;
    width: 104px;
    height: 74px;
    background: url('../img/bg_kira.png') 0 0 no-repeat;
    background-size: contain;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 40px;
    right: -230px;
    width: 633px;
    height: 491px;
    background: url('../img/bg_dot.png') 0 0 no-repeat;
    background-size: contain;
    z-index: -1;
  }
  ._box01 {
    flex-shrink: 0;
    img {
      max-width: 230px;
    }
  }
  ._box02 {
    margin-left: 60px;
    max-width: 531px;
    h2 {
      margin-top: -20px;
    }
    p{
      margin-top: 12px;
    }
  }
}

.bl_thoughts{
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 107px 0 214px;
  background: #222;
  ._inner{
    max-width: 960px;
    margin: 0 auto;
  }
}

.bl_thoughts_ttl{
  position: relative;
  color: #fff;
  text-align: center;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 536px;
    height: 294px;
    background: url('../img/bg_thoughts_ttl.png') 0 0 no-repeat;
    background-size: contain;
  }
}

.bl_thoughts_contents{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  color: #fff;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -70px;
    width: 48px;
    height: 40px;
    background: url('../img/bg_quo.png') 0 0 no-repeat;
    background-size: contain;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -214px;
    left: -250px;
    width: 556px;
    height: 200px;
    background: url('../img/bg_thoughts_02.png') 0 0 no-repeat;
    background-size: contain;
  }
  ._box01{
    max-width: 440px;
    p{
      margin-top: 40px;
    }
    img{
      max-width: 234px;
    }
  }
  ._box02{
    position: relative;
    margin-top: 120px;
    max-width: 440px;
    &::after {
      content: '';
      position: absolute;
      top: -200px;
      right: -240px;
      width: 340px;
      height: 453px;
      background: url('../img/bg_thoughts_01.png') 0 0 no-repeat;
      background-size: contain;
    }
    p{
      margin-top: 40px;
    }
    img{
      max-width: 234px;
    }
  }
}

.ly_footer {
  padding: 16px;
  text-align: center;
}

.bl_footer_logo {
  display: block;
  img {
    max-width: 21px;
  }
}

.bl_copy {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #989898;
}

//slick
.slick{
  height: 770px;
}
.slick-slide img {
  height: 100vw;
  max-height: 770px;
}

.slick-arrow{
  z-index:2!important;
  &::before{
    content:""!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slick-next{
  right:0!important;
  width: 80px;
  height: 80px;
  background: #222 !important;
  &:hover{
    background: #222 !important;
    &::before{
      left: 60%;
      transition: 0.3s;
    }
  }
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 24px !important;
    height: 21px !important;
    background: url('../img/arrow.svg') 0 0 no-repeat !important;
    background-size: contain!important;
    opacity: 1;
  }
}

.slick-prev{
  left: 0 !important;
  width: 80px;
  height: 80px;
  background: #222 !important;
  &:hover{
    background: #222 !important;
    &::before{
      left: 40%;
      transition: 0.3s;
    }
  }
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) rotate(180deg);
    width: 24px !important;
    height: 21px !important;
    background: url('../img/arrow.svg') 0 0 no-repeat !important;
    background-size: contain!important;
    opacity: 1;
  }
}

.slick-disabled{
  display: none !important;
}