@charset "utf-8";
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  line-height: (32/16);
}

h2 {
  font-size: 60px;
  font-weight: 900;
}

h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: (32/24);
}

img {
  width: 100%;
}

.el_leadTxt_l {
  font-size: 20px;
  font-weight: 700;
  line-height: (48/20);
}

.el_leadTxt_s {
  font-size: 18px;
  font-weight: 700;
  line-height: (36/18);
}

.el_capTxt {
  font-size: 24px;
  font-weight: 700;
}

.el_label_red {
  padding: 2px 0;
  color: #fff;
  background: #ff7262;
}

.el_line_wave {
  margin-top: 100px;
}

.ly_main {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.bl_mv {
  max-width: 1440px;
  padding-top: 40px;
}

.bl_side_heading {
  position: fixed;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #c4c4c4;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: sideways;
  text-orientation: sideways;
}

.bl_area {
  height: 100vh;
}

.bl_about {
  position: relative;
  margin: 0 auto;
  padding-top: 160px;
  max-width: 960px;
  &::before {
    content: '';
    position: absolute;
    top: 100px;
    left: -70px;
    width: 48px;
    height: 40px;
    background: url('../img/bg_quo.png') 0 0 no-repeat;
    background-size: contain;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 220px;
    right: -190px;
    width: 447px;
    height: 602px;
    background: url('../img/bg_path.png') 0 0 no-repeat;
    background-size: contain;
    z-index: -1;
  }
  p + p {
    margin-top: 46px;
  }
}

.bl_figma {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 160px;
}

.bl_figma_content {
  display: flex;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -90px;
    left: -40px;
    width: 104px;
    height: 74px;
    background: url('../img/bg_kira.png') 0 0 no-repeat;
    background-size: contain;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 40px;
    right: -230px;
    width: 633px;
    height: 491px;
    background: url('../img/bg_dot.png') 0 0 no-repeat;
    background-size: contain;
    z-index: -1;
  }
  ._box01 {
    flex-shrink: 0;
    img {
      max-width: 230px;
    }
  }
  ._box02 {
    margin-left: 60px;
    max-width: 531px;
    h2 {
      margin-top: -20px;
    }
  }
}

.ly_footer {
  padding: 16px;
  text-align: center;
}

.bl_footer_logo {
  display: block;
  img {
    max-width: 21px;
  }
}

.bl_copy {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #989898;
}
